<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource 
        name="jdbc/libreplan-ds" 
        auth="Container" 
        type="javax.sql.DataSource"
        driverClassName="org.postgresql.Driver"
        url="jdbc:postgresql://${LIBREPLAN_DBHOST}:${LIBREPLAN_DBPORT}/${LIBREPLAN_DBNAME}?prepareThreshold=0"
        username="${LIBREPLAN_DBUSER}"
        password="${LIBREPLAN_DBPASSWORD}"
        maxTotal="20" 
        maxIdle="10" 
        maxWaitMillis="-1"/>
</Context>
